@import "./home/home.css";
@import "./navitation/navitation.css";
/* Root variables, for the entire project themes */
:root {
  --primary-pastel: #b4a7d6; /* Soft purple */
  --secondary-pastel: #a2c4c9; /* Soft blue */
  --accent-pastel: #f4cccc; /* Soft pink */
  --text-dark: #4a4a4a; /* Soft black for text */
  --bg-light: #f9f9f9; /* Off-white background */
  --button-hover: #9b8bc1; /* Darker soft purple */
  --decorative-element: #ffe5d4; /* Soft peach */
  --cont-width: 1200px;

  /* Typography */
  --title-size: clamp(2.5rem, 5vw, 4rem);
  --desc-size: clamp(1rem, 2vw, 1.5rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Basic Reset */
* {
  margin: 0px;
  font-family: "Montserrat", "Roboto", "Open Sans", "Helvetica Neue", "Arial",
    "Segoe UI", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: var(--bg-light);
  color: var(--text-dark);
  font-family: "Montserrat", "Roboto", "Open Sans", "Helvetica Neue", "Arial",
    "Segoe UI", sans-serif;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
