.arc-card__text {
  flex: 0 1 60%;
}

.arc-card__title {
  font-size: 2.5rem;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.arc-card__description {
  font-size: var(--desc-size);
  color: var(--text-dark);
  opacity: 0.8;
  line-height: 1.8;
  margin-bottom: 2rem;
}
